/result
/result-*
/local.nix
/local.*.nix
!/local.example.nix

# plaintext SSH secrets
secrets/plain-ssh/*
!secrets/plain-ssh/.gitignore

# plaintext OCI secrets
secrets/plain-oci/*
!secrets/plain-oci/.gitignore

# local secret keys
keys.txt
*.plain
*.dec
*.tmp

